.description {
  max-height: 4em;
  overflow: hidden;
  display: block;
  font-size: 0.75rem;
}

.img-fluid {
  width: 100%;
}

.serviceIcon {
  width: 50%;
}

.serviceIcon2 {
  width: 50%;
}

.showmore .description {
  overflow: visible;
  display: inline;
}

.showBtn {
  margin-top: 1em;
  border: dashed var(--primary);
  background-color: inherit;
  float: right;
  color: var(--primary);
}

.showBtn:hover {
  border: dashed white;
}

.productContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  justify-content: center;
}

.product-overlay ul {
  list-style: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 15px;
  padding: 0;
}

.productInfoTitlew {
  color: var(--primary-hover) !important;
}

.orderBtn {
  width: 10rem !important;
}

.productTextBTN {
  color: var(--dark) !important;
  padding-right: 1rem;
}

.basket {
  width: 1.5em;
  fill: rgb(240, 255, 243) !important;
  color: aliceblue;
  margin-right: 1rem;
}

.product-overlay .btn-lg-square {
  background-color: whitesmoke;
}

.product-overlay .btn-lg-square:hover {
  background-color: var(--primary);
}

.logo {
  width: 5em;
}

.price {
  font-size: 1.5rem;
  border: solid 0.2rem;
}

.secondBuyBtn {
  margin: auto;
  display: none;
  padding: 0;

  align-items: center;
  justify-content: center;
  font-weight: normal;
  height: 48px;
}

.firstBuyBtn {
  display: flex;
  padding: 0;

  align-items: center;
  justify-content: center;
  font-weight: normal;
  height: 48px;
}

.product-item h4 {
  font-family: Open Sans;
}

.shadowCustom {
  -webkit-box-shadow: -32px 21px 27px -22px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -32px 21px 27px -22px rgba(0, 0, 0, 0.57);
  box-shadow: -32px 21px 27px -22px rgba(0, 0, 0, 0.57);
}

/* footer */

.footer .logo {
  width: 10rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer .fab {
  font-size: 2rem;
}

.footer .d-flex {
  gap: 1rem;
}

.footerItems {
  display: flex;
  width: 75%;
  gap: 1rem;
  justify-content: space-around;
}

.footerItem {
  flex: 1;
}

.footerSocial {
  display: flex;
}

.footersingleItem {
  text-align: justify;
}

.foterGallary {
  width: 25%;
}

.footerContact {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 2;
}

.footerTitle {
  color: var(--light);
}

/* feedback */
.feedbackImg {
  width: 100% !important;
  height: auto !important;
  border-radius: 1rem;
}

.testimonial-item {
  border-radius: 1rem;
}

/* buy */
.mainContainer {
  padding: 8rem 4rem;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #fdf5eb;
  opacity: 0.7;
  display: flex;
  gap: 2rem;
  border: thick double var(--primary);
  border-radius: 3rem;

  animation: 1s ease 0s normal forwards 1 fadeInUpCustom;

  -webkit-box-shadow: -38px 44px 67px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -38px 44px 67px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -38px 44px 67px -4px rgba(0, 0, 0, 0.75);
}

@keyframes fadeInUpCustom {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 0.7;
    transform: none;
  }
}

.opacityUp {
}
@keyframes main {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rightPart {
  display: flex;
  flex-direction: column;
  flex: 50%;
  padding: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.leftPart {
  flex: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.orderImh {
  width: 100%;
}

.buy_sadj50 {
  background-color: var(--primary);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/products/pan_sadj_50.jpg);
  background-size: cover;
}

.buy_sadj40 {
  background-color: var(--primary);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/products/pan_sadj-40.jpg);
  background-size: cover;
}

.buy_pan50 {
  background-color: var(--primary);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/products/pan_50.jpg);
  background-size: cover;
}

.buy_pan40 {
  background-color: var(--primary);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/products/pan_40.jpg);
  background-size: cover;
}
.label {
  display: flex;
  justify-content: space-between;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.option .buyInput {
  margin-right: 1rem;
}
.maintext {
  color: black;
  font-family: Open Sans;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

.productTitle {
  color: black;
  font-family: Open Sans;
  text-align: center;
  font-size: 1.2rem;
}

.buyPrice {
  /* color: var(--primary); */
  /* color: var(--light); */
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  /* border: solid 1rem var(--primary); */
  border-radius: 3rem;
}
.buyPriceTotal {
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;

  border-bottom: solid 0.3rem var(--primary);
  border-radius: 1rem;
  padding: 0rem 1.5rem;
  margin: auto;
  width: 10rem;
}

.priceLabel {
  text-align: center;
}

.buyInput {
  background-color: bisque;
  border-radius: 2rem;
  padding-left: 1rem;
}

@media screen and (max-width: 768) {
  .main {
    flex-direction: column;
    background-color: orange;
  }
}

/* custom form */

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 1rem;
}

.input {
  background-color: bisque;

  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 1.5rem;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;

  border-radius: 2rem;
  padding-left: 1rem;
}

.cut {
  background-color: #fdf5eb;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cutLg {
  background-color: #fdf5eb;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 200px;
}

.cutMd {
  background-color: #fdf5eb;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 120px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .cutLg,
.input:not(:placeholder-shown) ~ .cutLg {
  transform: translateY(8px);
}

.input:focus ~ .cutMd,
.input:not(:placeholder-shown) ~ .cutLg {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.gallery img {
  width: 95%;
  height: auto;
}

.galleryTitle {
  text-align: center;
}

/* swiper */
.swiper {
  width: 480px;
  height: 640px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
