.description {
  max-height: 4em;
  overflow: hidden;
  display: block;
}

.showmore .description {
  overflow: visible;
  display: inline;
}

.showBtn {
  margin-top: 1em;
  border: dashed var(--primary);
  background-color: inherit;
  float: right;
  /* background-color: var(--primary); */
  color: var(--primary);
}

.showBtn:hover {
  border: dashed white;
}

.product-overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.product-overlay ul {
  list-style: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 15px;
  padding: 0;
}

.productInfoTitlew {
  color: var(--primary) !important;
}

.basket {
  width: 1.5em;
  fill: rgb(240, 255, 243) !important;
  color: aliceblue;
}

.product-overlay .btn-lg-square {
  background-color: whitesmoke;
}

.product-overlay .btn-lg-square:hover {
  background-color: var(--primary);
}

.logo {
  width: 10em;
}

.price {
  font-size: 1.75rem;
  border: solid 0.2rem;
}

.product-item h4 {
  font-family: Open Sans;
}

.footer {
  display: flex;
  justify-content: space-between;
}

/* feedback */
.feedbackImg {
  width: 100% !important;
  height: auto !important;
  border-radius: 1rem;
}

.testimonial-item {
  border-radius: 1rem;
}

/* buy */
.mainContainer {
  padding: 8rem 4rem;
}
.main {
  width: 100%;
  height: 100%;
  background-color: rgb(144, 236, 51);
  opacity: 0.7;
  display: flex;
  gap: 2rem;
  border: thick double var(--primary);
  border-radius: 3rem;

  animation: 1s ease 0s normal forwards 1 fadeInUpCustom;
}

@keyframes fadeInUpCustom {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 0.7;
    transform: none;
  }
}

.opacityUp {
}
@keyframes main {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rightPart {
  display: flex;
  flex-direction: column;
  flex: 50%;
  padding: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.leftPart {
  flex: 50%;
  padding: 2rem;
}

.orderImh {
  width: 100%;
}

.buy {
  background-color: green;
  background-image: url(../img/about-1.jpg);
}
.label {
  display: flex;
  justify-content: space-between;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.maintext {
  color: black;
  font-family: Open Sans;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

.productTitle {
  color: black;
  font-family: Open Sans;
  text-align: center;
}

.buyPrice {
  /* color: var(--primary); */
  color: var(--light);
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  border: solid 1rem var(--primary);
  border-radius: 3rem;
}

.buyInput {
  background-color: aquamarine;
  border-radius: 2rem;
  padding-left: 1rem;
}

@media screen and (max-width: 768) {
  .main {
    flex-direction: column;
    background-color: orange;
  }
}
